<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="index.css">
        <script src="vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div id="filter">
                <input placeholder="筛选器" v-model="filterString"></input>
            </div>
            <div id="props">
                <span id="focus-control" tabindex="-1"
                    v-on:keydown.right="appendNode"
                    v-on:keydown.left="prependNode"
                    v-on:keydown.space="focusRename"
                    v-on:keydown.up="gotoFrom"
                    v-on:keydown.down="gotoTo"
                    v-on:keydown.9.prevent="gotoSibling"
                    v-on:keydown.90.ctrl="back"
                    v-on:keydown.89.ctrl="forward">
                </span>
                <span id="focus-control-none-select" tabindex="-1"
                    v-on:keydown.90.ctrl="back"
                    v-on:keydown.89.ctrl="forward"></span>
                <button v-on:click="newDoc">清空！</button>
                <button v-on:click="prependNode" v-if="!!nameSelected && !unnamedNode">前</button>
                <button v-on:click="appendNode" v-if="!!nameSelected && !unnamedNode">后</button>
                <span class="hori-spliter">&nbsp;</span>
                <span v-if="!!nameSelected">
                    <span id="rename">
                        <input id="new-name" v-model="newName" placeholder="新名字" v-on:keyup.enter="assignNewName"></input>
                        <button v-on:click="assignNewName" :disabled="nameConflict || nameEmpty">重命名</button>
                        <span id="error-message" v-if="nameConflict && !nameIsSame">名字已存在</span>
                    </span>
                    <span v-for="prop in propsSelected">
                        <span>{{ prop.key }}</span>
                        <span><input v-model="prop.value" v-on:keyup.enter="updateProps"></input></span>
                    </span>
                    <button v-on:click="updateProps" :disabled="!propsAreNew">更新</button>
                </span>
                <span v-else>
                    <span>
                    <span>没有选择</span><input v-show="false"></input>
                    </span>
                </span>
            </div>
            <div id="output"></div>
            <div id="control">
                <div class="action action-origin" v-on:click="goToAction(-1)"></div><!--
                --><div v-for="(action, index) in actions" class="action action-backward" v-on:click="goToAction(index)"></div><!--
                --><div v-for="(action, index) in actionsForward" class="action action-forward" v-on:click="goToActionForward(index)"></div>
            </div>
            <!--<textarea id="dot" v-model="dot"></textarea>-->
        </div>
        <script src="viz.js"></script>
        <script src="dot.js"></script>
        <script src="svg-pan-zoom.min.js"></script>
        <script src="jquery-3.1.1.min.js"></script>
        <script src="lodash.min.js"></script>
        <script src="index.js"></script>
    </body>
</html>
