* {
    box-sizing: border-box;
}

html, body {
    margin  : 0px;
    padding : 0px;
    height  : 100%;
}

body {
    font-family: monospace;
}

input {
    border-color: #dddddd;
}

#app {
    height : 100%;
}

.hori-spliter {
    border-right : solid 1px #aaaaaa;
}

div#filter {
    height : 25px;
}

div#filter input {
    width : 100%;
    padding : 2px;
}

div#props {
    height : 25px;
    padding : 2px;
}

div#control {
    overflow-x : scroll;
    white-space : nowrap;
    height : 40px;
}

.action {
    display : inline-block;
    height : 20px;
    width  : 30px;
}

.action-origin {
    background-color : #aaaaaa;
    border : solid 1px white;
}

.action-backward {
    background-color : black;
    border : solid 1px white;
}

.action-forward {
    background-color: white;
    border : solid 1px black;
}

div#control button {
    height : 25px;
}

span#rename {
    position: relative;
}

span#error-message {
    position: absolute;
    left : 0px;
    top  : calc(100% + 5px);
    color : red;
}

div#serialized {
    height : 25px;
}

div#serialized input {
    width : 100%;
}

.error {
    background-color : red;
}

textarea#dot {
    height : 100%;
    flex : 0 0 200px;
}

div#output {
    height : calc(100% - 115px);
    background-color : white;
    border : solid 1px #dddddd;
}

div#name-selected {
    background-color : #eeeeee;
}

textarea#message {
    position: fixed;
    bottom: 10px;
    left : 10px;
    width : 500px;
    height : 200px;
    background-color : yellowgreen;
}

.full {
    width : 100%;
    height : 100%;
}
