* {
    box-sizing: border-box;
}

html, body {
    margin  : 0px;
    padding : 0px;
    height  : 100%;
}

#app {
    height : 100%;
    display: flex;
    flex-direction: row;
}

div#spec {
    height : 100%;
    flex : 0 0 200px;
}

textarea#dot {
    height : 100%;
    flex : 0 0 200px;
}

div#output {
    height : 100%;
    flex : 2;
    background-color : red;
}

textarea#message {
    position: fixed;
    bottom: 10px;
    left : 10px;
    width : 500px;
    height : 200px;
    background-color : yellowgreen;
}
