<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="index.css">
        <script src="vue.js"></script>
    </head>
    <body>
        <div id="app">
            <input id="filter" placeholder="筛选器" v-model="filterString"></input>
            <div id="props">
                <div v-if="!!nameSelected">
                    <span id="rename">
                        <input v-model="newName" v-bind:placeholder="nameSelected" v-on:keyup.enter="assignNewName"></input>
                        <button v-on:click="assignNewName" :disabled="nameConflict || nameEmpty">重命名</button>
                        <span id="error-message" v-if="nameConflict">名字已存在</span>
                    </span>
                    <span v-for="prop in propertiesSelected">
                        <span>{{ prop.name }}</span>
                        <span><input v-model="prop.value"></input></span>
                    </span>
                </div>
                <div v-else>
                    <span>
                    <span>没有选择</span><input v-show="false"></input>
                    </span>
                </div>
            </div>
            <div id="output"></div>
            <div id="serialized">
                <input v-model="serialized"></input>
            </div>
            <!--<textarea id="dot" v-model="dot"></textarea>-->
        </div>
        <script src="viz.js"></script>
        <script src="dot.js"></script>
        <script src="svg-pan-zoom.min.js"></script>
        <script src="jquery-3.1.1.min.js"></script>
        <script src="lodash.min.js"></script>
        <script src="index.js"></script>
    </body>
</html>
